* {
    box-sizing: border-box;
}

body {
    background-image: url(Images/bee-2373914_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    background: none;
}

.btn:hover {
    border-bottom-color: yellowgreen;
}

.text-center {
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 65px;
}

h2 {
    width: auto;
    position: relative;
    font-size: 32px;
}

.container {
    box-sizing: content-box;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    background: rgba(253, 249, 218, .80);
    padding: 30px;
    margin-top: 100px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.items {
    margin: 60px 0;
}

.item {
    display: flex;
    margin: 40px 0;
}

.item:last-child {
    margin-bottom: 0;
}

.item .img {
    width: 35%;
}

.item .caption {
    padding-left: 30px;
    width: 65%;
}

.item .caption h4 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(90 79 49 / 95%);
    padding: 20px;
    z-index: 1;
}

.nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav ul li a {
    color: #fff;
    transition: all ease 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.nav ul li a:hover {
    color: #ff9800;
}